body {
    background: #E8E8E8;
    margin: 7px 0 0 0;
    padding: 0;

    font-family: Helvetica;
}

#nav, #content, #footer, #buttonblock {
    margin: 0 auto 0 auto;
    width: 660px;
}

#nav ul {
    padding-left: 0;
    text-align: center;
}

#nav ul li {
    display: inline;
    list-style: none;
    margin: 0 1.5em 0 1.5em;
}

.bigbutton, .bigbutton:visited {
    background: url('../images/bigbutton.png') repeat-x center top;
    color: white;
    padding: 0.3em 1em 0.3em 1em;
    text-decoration: none;
    border-radius: 5px;
}

.smallbutton, .smallbutton:visited {
    background: url('../images/smallbutton.png') repeat-x center top;
    color: white;
    padding: 0.3em 1em 0.3em 1em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 75%;
}


#header {
    background: url('../images/headerbg.jpg') repeat-x center top;
    text-align: center;
    height: 191px;
    padding-top: 10px;
}

#about {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    width: 40%;
    margin: 0 auto 0 auto;
    padding: 1em 2em 1em 2em;
    background: rgba(0, 0, 0, 0.40);
    color: white;
    text-transform: uppercase;
    font-size: 75%;
}

#buttonblock {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    text-align: center;
    padding-bottom: 1em;
    margin: 0 auto 0 auto;
}

#buttonblock p {
    letter-spacing: 1px;
}

#buttonblock div {
    display: inline-block;
    margin: 0 1em 0 1em;
}

#content {
    padding: 10px 0 35px 0;
}

#footer {
    border-top: solid 1px black;
    padding-top: 10px;
    text-transform: uppercase;
    width: 660px;
}

dt {
    margin-top: 1.5em;
    margin-bottom: 0.25em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: larger;
}

a, a:visited {
    text-decoration: none;
    color: blue;
}

.post {
    margin-bottom: 2em;
}

.post p {
    font-size: 120%;
    margin-bottom: 0;
}

.post .desc {
    font-size: 80%;
}

.post .location {

}

.post .age {
    display: inline-block;
    color: #AAA;
    position: relative;
    left: 200px;
}

.moderationbox {
    width: 80%;
    border: #DDDD00 solid 3px;
    background: #FFFF55;
    padding: 0.5em;
    margin: 1em auto 1em auto;
}

.errorbox {
    width: 80%;
    border: #DD0000 solid 3px;
    background: #FFBBBB;
    padding: 0.5em;
    margin: 1em 0 1em 0;
}

.errorbox p {
    margin: 0;
}
