h1 {
    margin-left: 1em;
    margin-bottom: 0;
}

#content {
    width: auto;
    padding-left: 3em;
}

#modnav ul {
    margin: 0;
    padding: 0;
}

#modnav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 1em;
}

.userrow {
    padding-left: 5px;
    width: 50em;
    margin-bottom: 0.25em;
}

.header {
    border-bottom: solid 2px black;
    margin-bottom: 1em;
}

.header span {
    font-weight: bold;
}

.userrow span {
    display: inline-block;
}

.userrow .name {
    width: 12em;
}

.userrow .email {
    width: 20em;
}

.userrow .admin {
    width: 5em;
}

.userrow .remove {
    width: 5em;
    margin-left: 2em;
}

input[type=text] {
    width: 20em;
}
